
		
<link rel="stylesheet" href="/css/styles2.css">
<div class="container">
  <div class="color-overlay">
</div>
 
<div class="html wrapper fadeInDown">
   
 <div id="formContent">
   
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"> <a href = "/login">Sign In </a>  </h2>
    <h2 class="active"> Forgot Passowrd </h2>

  
 <form action="/forgot" method="POST">
     
    
    
	
		     <input type="email"  class="fadeIn second" name="email" placeholder="email">
    

		    <input type="submit" class="fadeIn fourth" value="Enviar"></button>
		  </div>

	
			
			
		</form></div></div>
