<h1> Sign Up Form </h1>

<form method="POST" action="/readings/:id">
  <input  name="username" placeholder="username">
    <input  name="ritmo" placeholder="ritmo">
    <input  name="pressao_art" placeholder="pressao_art">
      <input  name="temp_pele" placeholder="temp_pele">
       <input  name="ph" placeholder="ph">
    
         <input  name="passos" placeholder="passos">
          <input  name="notas" placeholder="notas">
    <button> Submit </button>
</form>

