<link rel="stylesheet" href="/css/styles2.css">
<div class="container">
  <div class="color-overlay">
</div>
 
<div class="html wrapper fadeInDown">
   
 <div id="formContent">
   <div id="formHeader"> </div>
    <!-- Tabs Titles 
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover"> <a href = "/register"> Sign Up </a> </h2>-->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="kisspng-customer-service-login-user-computer-icons-5b0a3f122f0ff1.8380283015273981621928.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="text"  class="fadeIn second" name="username" placeholder="email">
      <input type="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In"> </form>
       <form action= "/register" >
       <input type="submit"value="Sign Up"> </a> </form>
      
   

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/forgot"> Esqueceu a password?</a>
    </div>
    
</div>
  </div>
</div>




