		
<link rel="stylesheet" href="/css/styles2.css">
<div class="wrapper fadeInDown">
<h1 style="color:white;"> O E-mail foi enviado com sucesso </h1>

  

 <form action="/msgEmail" method="POST">
     
    
    <div>

		     <h2 style="color:white;"> Verifique a sua caixa de entrada </h2>
    

		    
		  </div>

	
			
			
		</form></div>
