<h1> Sign Up Form </h1>

<form method="POST" action="/get/pacientes">
       <input  name="id" placeholder="id">

       <input  name="morada" placeholder="morada">
  
       
    <button> Submit </button>
</form>

