
<form method="POST" action="/register">
<link rel="stylesheet" href="/css/styles2.css">
<div class="container">
  <div class="color-overlay">
</div>
 
<div class="html wrapper fadeInDown">
   
 <div id="formContent">
   <div id="formHeader"> </div>
   
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"> <a href = "/login">Sign In </a>  </h2>
    <h2 class="active"> Sign Up </h2>




    <!-- Register -->
    
  <form method="POST" action="/register">
      <input type="email" class="fadeIn third" name="email" placeholder="email">
      <input type="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Submit">
      
<div id="formFooter"> </div>

    </form>


</div></div>